<div class="study-guide-section books-for-pilots">
  <div class="membership-options-wrapper">
    <div class="product-wrapper">
      <div class="header-wrapper">
        <div class="tight-content-wrapper">
          <h4>{{ section.settings.subtitle }}</h4>
          <h2>{{ section.settings.title }}</h2>
          <div class="top-inner-content margin-b">
            {{ section.settings.description }}
          </div>
        </div>
      </div>
      <div class="product-grid">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link }}" class="product-grid-inner w-inline-block">
            <div class="product-img-wrapper"><img
                src="{{ block.settings.image | img_url: '450x' }}"
                loading="lazy"
                alt="{{ block.settings.title }}"
                class="product-img"></div>
            <div class="larger-text margin-b">{{ block.settings.title }}</div>
            <div class="line-wrapper margin-b smaller center-land"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
                loading="lazy"
                alt=""></div>
            <div class="light-text">{{ block.settings.description }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Books for pilots",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "SubTitle",
        "default": "Take Home Material"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Books For Pilots"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>"
      }
    ],
    "blocks": [
      {
        "type": "book",
        "name": "Book",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Alternate Route"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>This book provides in-depth details about the hiring process, requirements, and helpful hints for pilots considering the Air National Guard Air Force Reserve as a rewarding career without the common deterrents of a routine millitary enlistment.</p>"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}