<div class="recent-resources-section">
  <div class="header-wrapper">
    <h2>{{ section.settings.header }}</h2>
  </div>
  <div class="slider-wrapper-resources">
    <div
      data-delay="4000"
      data-animation="slide"
      class="slider-resources w-slider"
      data-autoplay="false"
      data-easing="ease"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true">
      <div class="w-slider-mask">
        {% assign slider_index = 0 %}
        {% assign r = 0 %}
        {% for block in section.blocks %}
            {% assign slider_index = slider_index | plus: 1 %}
            {% assign r = slider_index | modulo: 3 %}
            {% if r == 1 %}
              <div class="w-slide">
                <div class="resources-slide-grid">
              {% endif %}
              
                <div class="resources-slide-grid-inner">
                    <div class="bright-blue-text light-text">{{ block.settings.type }}</div>
                    <h4 class="blue-text margin-b">{{ block.settings.title }}</h4>
                    {% if block.settings.subtitle != blank %}
                        <h4 class="light-text blue-text smaller-h4 margin-b">{{ block.settings.subtitle }}</h4>
                    {% endif %}
                    <div class="margin-b">{{ block.settings.description }}</div>
                    <a href="{{ block.settings.link }}" class="bright-blue-link w-inline-block" target="_blank">
                    <div>LEARN MORE »</div>
                    </a>
                </div>
              
              {% if r == 0 %}
              </div>
              </div>
            {% endif %}
        {% endfor %}
        {% unless r == 0 %}
            </div>
            </div>
        {% endunless %}
      </div>
      <div class="slider-arrows interview w-slider-arrow-left"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/arrow-b-left.svg?v=1674766850"
          loading="lazy"
          alt="Leftward facing blue arrow"
          class="slider-arrow-img"></div>
      <div class="slider-arrows right interview w-slider-arrow-right"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/arrow-b.svg?v=1674766850"
          loading="lazy"
          alt="Rightward facing blue arrow"
          class="slider-arrow-img"></div>
      <div class="w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Recent Resources",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Recently Added Resources"
      }
    ],
    "blocks": [
      {
        "type": "resource",
        "name": "Resource",
        "settings": [
          {
            "type": "text",
            "id": "type",
            "label": "Type"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "subtitle",
            "label": "SubTitle"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}