<div class="jc-collection-secondary">
  <div class="recent-resources-section">
    <div class="header-wrapper">
      <h1>{{ collection.title }}</h1>
    </div>
    <div class="sort-flex-row-shop">
      <div class="sort-text-shop">Filter:</div>
      <div class="sort-input-wrapper">
        <select
          id="color-filter"
          name="color-filter"
          class="filter-input-category w-select">
          <option value="/collections/products">All</option>
          {%- for tag in collection.all_tags -%}
            {% assign tag_handle = tag | handleize %}
            <option value="/collections/{{ collection.handle }}/{{ tag | handleize }}" {% if request.path contains tag_handle %}selected{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="slider-wrapper-resources">
      <div class="resources-slide-grid">
        {% paginate collection.products by 12 %}
          {%- for product in collection.products -%}
            {% assign product_link = product.metafields.custom.read_now_button | default: product.url %}
            <div class="resources-slide-grid-inner" data-link="{{ product_link }}">
              <div class="bright-blue-text light-text">{{ collection.title }}</div>
              <h4 class="blue-text margin-b">{{ product.title }}</h4>
              <div class="margin-b">{{ product.description }}</div>
              <a
                href="{{ product_link }}"
                class="bright-blue-link w-inline-block"
                target="_blank">
                <div>Shop Now »</div>
              </a>
            </div>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
  </div>
{% endpaginate %}