<div class="jc-collection-secondary">
  <div class="recent-resources-section">
    <div class="header-wrapper">
      <h1>{{ collection.title }}</h1>
    </div>
    <div class="slider-wrapper-resources">
      <div
        data-delay="4000"
        data-animation="slide"
        class="slider-resources w-slider"
        data-autoplay="false"
        data-easing="ease"
        data-hide-arrows="false"
        data-disable-swipe="false"
        data-autoplay-limit="0"
        data-nav-spacing="3"
        data-duration="500"
        data-infinite="true">
        <div class="w-slider-mask">
          {%- for product in collection.products limit: 12 -%}
            {% assign r = forloop.index | modulo: 6 %}
            {% if r == 1 %}
              <div class="w-slide">
                {% assign product_link = product.metafields.custom.read_now_button | default: product.url %}
                <div class="resources-slide-grid">
            {% endif %}
                <div class="resources-slide-grid-inner" data-link="{{ product_link }}">
                  <div class="bright-blue-text light-text">{{ collection.title }}</div>
                  <h4 class="blue-text margin-b">{{ product.title }}</h4>
                  <div class="margin-b">{{ product.description | strip_html | truncatewords: 30 }}</div>
                  <a href="{{ product_link }}" class="bright-blue-link w-inline-block">
                    <div>LEARN MORE »</div>
                  </a>
                </div>
            {% if r == 0 %}
                </div>
                </div>
              {% endif %}
          {%- endfor -%}
          {% unless r == 0 %}
            </div>
            </div>
        {% endunless %}
        </div>
        <div class="slider-arrows interview w-slider-arrow-left"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/arrow-b-left.svg?v=1674766850"
            loading="lazy"
            alt="Leftward facing blue arrow"
            class="slider-arrow-img"></div>
        <div class="slider-arrows right interview w-slider-arrow-right"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/arrow-b.svg?v=1674766850"
            loading="lazy"
            alt="Rightward facing blue arrow"
            class="slider-arrow-img"></div>
        <div class="w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>
</div>