<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper job-fairs"></div>
    <div class="hero-flex-col-right">
      <div class="airplane-home-hero-wrapper"></div>
      <h1>Job Fairs<span class="split-line-text">&amp; Events</span>
      </h1>
    </div>
  </div>
</div>
<div class="news-section">
  <div class="header-wrapper">
    <h5>Upcoming Job Fairs &amp; Events</h5>
  </div>
  <div class="job-fair-flex-row-filters">
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div class="job-filter-toggle__text">Organization<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list dropdown-filter-list__organization">
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'WAI' | handleize }}">WAI</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'OBAP' | handleize }}">OBAP</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'NGPA' | handleize }}">NGPA</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'TPN-x' | handleize }}">TPN-x</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'RTAG' | handleize }}">RTAG</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'FAPA' | handleize }}">FAPA</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'PlaneSense' | handleize }}">PlaneSense</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'PAPA' | handleize }}">PAPA</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'LPA' | handleize }}">LPA</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-organization="{{ 'UAA' | handleize }}">UAA</a>
      </nav>
    </div>
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div class="job-filter-toggle__text">Location<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list dropdown-filter-list__location">
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Multiple' | handleize }}">Multiple</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Alabama' | handleize }}">Alabama</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Alaska' | handleize }}">Alaska</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Arizona' | handleize }}">Arizona</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Arkansas' | handleize }}">Arkansas</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'California' | handleize }}">California</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Colorado' | handleize }}">Colorado</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Connecticut' | handleize }}">Connecticut</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Delaware' | handleize }}">Delaware</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Florida' | handleize }}">Florida</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Georgia' | handleize }}">Georgia</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Hawaii' | handleize }}">Hawaii</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Idaho' | handleize }}">Idaho</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Illinois' | handleize }}">Illinois</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Indiana' | handleize }}">Indiana</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Iowa' | handleize }}">Iowa</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Kansas' | handleize }}">Kansas</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Kentucky' | handleize }}">Kentucky</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Louisiana' | handleize }}">Louisiana</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Maine' | handleize }}">Maine</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Maryland' | handleize }}">Maryland</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Massachusetts' | handleize }}">Massachusetts</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Michigan' | handleize }}">Michigan</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Minnesota' | handleize }}">Minnesota</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Mississippi' | handleize }}">Mississippi</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Missouri' | handleize }}">Missouri</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Montana' | handleize }}">Montana</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Nebraska' | handleize }}">Nebraska</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Nevada' | handleize }}">Nevada</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'New Hampshire' | handleize }}">New Hampshire</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'New Jersey' | handleize }}">New Jersey</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'New Mexico' | handleize }}">New Mexico</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'New York' | handleize }}">New York</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'North Carolina' | handleize }}">North Carolina</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'North Dakota' | handleize }}">North Dakota</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Ohio' | handleize }}">Ohio</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Oklahoma' | handleize }}">Oklahoma</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Oregon' | handleize }}">Oregon</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Pennsylvania' | handleize }}">Pennsylvania</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Rhode Island' | handleize }}">Rhode Island</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'South Carolina' | handleize }}">South Carolina</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'South Dakota' | handleize }}">South Dakota</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Tennessee' | handleize }}">Tennessee</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Texas' | handleize }}">Texas</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Utah' | handleize }}">Utah</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Vermont' | handleize }}">Vermont</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Virginia' | handleize }}">Virginia</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Washington' | handleize }}">Washington</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'West Virginia' | handleize }}">West Virginia</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Wisconsin' | handleize }}">Wisconsin</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Wyoming' | handleize }}">Wyoming</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-location="{{ 'Puerto Rico' | handleize }}">Puerto Rico</a>
      </nav>
    </div>
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div class="job-filter-toggle__text">Month<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list dropdown-filter-list__month">
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'January' | handleize }}">January</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'February' | handleize }}">February</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'March' | handleize }}">March</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'April' | handleize }}">April</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'May' | handleize }}">May</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'June' | handleize }}">June</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'July' | handleize }}">July</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'August' | handleize }}">August</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'September' | handleize }}">September</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'October' | handleize }}">October</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'November' | handleize }}">November</a>
        <a
          href="javascript:;"
          class="w-dropdown-link job-filter-link2"
          data-filter-month="{{ 'December' | handleize }}">December</a>
      </nav>
    </div>
  </div>
  <div class="job-all-wrapper">
    {% for block in section.blocks %}
      {% assign organization = block.settings.organization | handleize %}
      {% assign location = block.settings.location | handleize %}
      {% assign month = block.settings.month | handleize %}
      <div
        class="job-fair-individ-wrapper"
        data-query-organization="{{ organization }}"
        data-query-location="{{ location }}"
        data-query-month="{{ month }}">
        <div class="job-logo-wrapper"><img
            src="{{ block.settings.logo | img_url: '450x' }}"
            loading="lazy"
            alt="United Airlines logo"
            class="job-logo-img"></div>
        <div class="job-information-wrapper">
          <div class="job-fair-flex-row">
            <div class="job-fair-flex-col title">
              <div class="larger-text job-fair">{{ block.settings.event_name }}</div>
            </div>
            <div class="job-fair-flex-col main">
              <div>Date:
                <span class="light-text">{{ block.settings.date }}</span>
              </div>
              <br>
              <div>Location:
                <span class="light-text">{{ block.settings.location }}</span>
              </div>
              <br>
              <a href="{{ block.settings.link }}" class="submit-button w-button">GET TICKETS</a>
            </div>
            <div class="job-fair-flex-col">
              <div class="second-info-job-wrapper">
                <div>Organization:
                  <span class="light-text">{{ block.settings.organization }}</span>
                </div>
              </div>
              <div class="second-info-job-wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Job Fairs & Events",
    "settings": [],
    "blocks": [
      {
        "type": "event",
        "name": "Event",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "event_name",
            "label": "Event Name"
          },
          {
            "type": "select",
            "id": "month",
            "options": [
              {
                "label": "January",
                "value": "January"
              },
              {
                "label": "February",
                "value": "February"
              },
              {
                "label": "March",
                "value": "March"
              },
              {
                "label": "April",
                "value": "April"
              }, {
                "label": "May",
                "value": "May"
              }, {
                "label": "June",
                "value": "June"
              }, {
                "label": "July",
                "value": "July"
              }, {
                "label": "August",
                "value": "August"
              }, {
                "label": "September",
                "value": "September"
              }, {
                "label": "October",
                "value": "October"
              }, {
                "label": "November",
                "value": "November"
              }, {
                "label": "December",
                "value": "December"
              }
            ],
            "label": "Select a Month",
            "default": "January"
          },
          {
            "type": "select",
            "id": "organization",
            "options": [
              {
                "label": "WAI",
                "value": "WAI"
              },
              {
                "label": "OBAP",
                "value": "OBAP"
              },
              {
                "label": "NGPA",
                "value": "NGPA"
              },
              {
                "label": "TPN-x",
                "value": "TPN-x"
              }, {
                "label": "RTAG",
                "value": "RTAG"
              }, {
                "label": "FAPA",
                "value": "FAPA"
              }, {
                "label": "PlaneSense",
                "value": "PlaneSense"
              }, {
                "label": "PAPA",
                "value": "PAPA"
              }, {
                "label": "LPA",
                "value": "LPA"
              }, {
                "label": "UAA",
                "value": "UAA"
              }
            ],
            "label": "Select a Organization",
            "default": "WAI"
          }, {
            "type": "select",
            "id": "location",
            "options": [
              {
                "label": "Multiple",
                "value": "Multiple"
              },
              {
                "label": "Alabama",
                "value": "Alabama"
              },
              {
                "label": "Alaska",
                "value": "Alaska"
              },
              {
                "label": "Arizona",
                "value": "Arizona"
              }, {
                "label": "Arkansas",
                "value": "Arkansas"
              }, {
                "label": "California",
                "value": "California"
              }, {
                "label": "Colorado",
                "value": "Colorado"
              }, {
                "label": "Connecticut",
                "value": "Connecticut"
              }, {
                "label": "Delaware",
                "value": "Delaware"
              }, {
                "label": "Florida",
                "value": "Florida"
              }, {
                "label": "Georgia",
                "value": "Georgia"
              }, {
                "label": "Hawaii",
                "value": "Hawaii"
              }, {
                "label": "Idaho",
                "value": "Idaho"
              }, {
                "label": "Illinois",
                "value": "Illinois"
              }, {
                "label": "Indiana",
                "value": "Indiana"
              }, {
                "label": "Iowa",
                "value": "Iowa"
              }, {
                "label": "Kansas",
                "value": "Kansas"
              }, {
                "label": "Kentucky",
                "value": "Kentucky"
              }, {
                "label": "Louisiana",
                "value": "Louisiana"
              }, {
                "label": "Maine",
                "value": "Maine"
              }, {
                "label": "Maryland",
                "value": "Maryland"
              }, {
                "label": "Massachusetts",
                "value": "Massachusetts"
              }, {
                "label": "Michigan",
                "value": "Michigan"
              }, {
                "label": "Minnesota",
                "value": "Minnesota"
              }, {
                "label": "Mississippi",
                "value": "Mississippi"
              }, {
                "label": "Missouri",
                "value": "Missouri"
              }, {
                "label": "Montana",
                "value": "Montana"
              }, {
                "label": "Nebraska",
                "value": "Nebraska"
              }, {
                "label": "Nevada",
                "value": "Nevada"
              }, {
                "label": "New Hampshire",
                "value": "New Hampshire"
              }, {
                "label": "New Jersey",
                "value": "New Jersey"
              }, {
                "label": "New Mexico",
                "value": "New Mexico"
              }, {
                "label": "New York",
                "value": "New York"
              }, {
                "label": "North Carolina",
                "value": "North Carolina"
              }, {
                "label": "North Dakota",
                "value": "North Dakota"
              }, {
                "label": "Ohio",
                "value": "Ohio"
              }, {
                "label": "Oklahoma",
                "value": "Oklahoma"
              }, {
                "label": "Oregon",
                "value": "Oregon"
              }, {
                "label": "Pennsylvania",
                "value": "Pennsylvania"
              }, {
                "label": "Rhode Island",
                "value": "Rhode Island"
              }, {
                "label": "South Carolina",
                "value": "South Carolina"
              }, {
                "label": "South Dakota",
                "value": "South Dakota"
              }, {
                "label": "Tennessee",
                "value": "Tennessee"
              }, {
                "label": "Texas",
                "value": "Texas"
              }, {
                "label": "Utah",
                "value": "Utah"
              }, {
                "label": "Vermont",
                "value": "Vermont"
              }, {
                "label": "Virginia",
                "value": "Virginia"
              }, {
                "label": "Washington",
                "value": "Washington"
              }, {
                "label": "West Virginia",
                "value": "West Virginia"
              }, {
                "label": "Wisconsin",
                "value": "Wisconsin"
              }, {
                "label": "Wyoming",
                "value": "Wyoming"
              }, {
                "label": "Puerto Rico",
                "value": "Puerto Rico"
              }
            ],
            "label": "Select a Location",
            "default": "Multiple"
          }, {
            "type": "text",
            "id": "date",
            "label": "Date"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}